<h1> New horse </h1>

<%= form_with scope: :horse, url: horses_path, local: true do |form| %>
   <p>
    <%= form.label :ranking %>:  <%= form.text_field :ranking %>
  </p>
  
  <p>
    <%= form.label :name %>:  <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :breed %>:  <%= form.text_field :breed %>
  </p>

  <p>
    <%= form.label :age %>:  <%= form.text_field :age %>
  </p>

  <p>
    <%= form.label :rider %>:  <%= form.text_field :rider %>
  </p>

  <p>
    <%= form.label :country %>:  <%= form.text_field :country %>
  </p>

   <p>
    <%= form.label :score %>:  <%= form.text_field :score %>
  </p>
 
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
