<p>
  <strong>Ranking:</strong>
  <%= @horse.ranking %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @horse.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @horse.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @horse.age %>
</p>

<p>
  <strong>Rider:</strong>
  <%= @horse.rider %>
</p>

<p>
  <strong>Country:</strong>
  <%= @horse.country %>
</p>

<p>
  <strong>Score:</strong>
  <%= @horse.score %>
</p>

